<form method="post" action="{{ path('app_entrepot_delete', {'id': entrepot.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet entrepôt ? Cela peut supprimer les stocks associés.');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entrepot.id) }}">
    <button class="btn btn-danger shadow-sm">
        <i class="bi bi-trash-fill me-2"></i>Supprimer le site
    </button>
</form>