<form method="post" action="{{ path('app_categorie_delete', {'id': categorie.id}) }}" onsubmit="return confirm('Attention ! Êtes-vous sûr de vouloir supprimer cette catégorie ? Cela pourrait affecter les produits associés.');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.id) }}">
    
    <button class="btn btn-outline-danger w-100 shadow-sm transition-all">
        <i class="bi bi-trash3-fill me-2"></i>Supprimer définitivement
    </button>
</form>